/* Header */
.header {
  display: flex;
  width: 680px;
  height: 50px;
  border: 1px solid #555;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* position */
  position: absolute;
  transform: rotate(10deg);
  top: 150px;
  left: 80px;
  z-index: 98;
}
.header__items {
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.header__item {
  width: 150px;
}
.header__link {
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #555;
}

/* Display */
.display {
  background-color: black;
  width: 400px;
  height: 45px;
  color: #00cb00;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position */
  position: absolute;
  transform: rotate(-10deg);
  top: 50px;
  left: 150px;
  z-index: 3;
}
.display__text {
  font-size: 20px;
  font-weight: bold;
}

/* Line */
.line {
  width: 700px;
  height: 1px;
  background-color: #555;
  /* position */
  position: absolute;
  transform: rotate(30deg);
  top: 170px;
  left: 80px;
  z-index: 99;
}

/* Square */
.square {
  width: 260px;
  height: 120px;
  background-color: #eb1000;
  /* position */
  position: absolute;
  transform: rotate(-30deg);
  top: 150px;
  left: 250px;
}

/* Triangle */
.triangle {
  width: 0;
  height: 0;
  border-right: 90px solid transparent;
  border-left: 90px solid transparent;
  border-bottom: 90px solid #feee02;
  /* position */
  position: absolute;
  transform: rotate(20deg);
  top: 170px;
  left: 70px;
}

/* Circle */
.circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: #1a2fcf;
  /* position */
  position: absolute;
  top: 210px;
  left: 550px;
}

/* Switch */
.red_label {
  /* position */
  position: absolute;
  top: 30px;
  left: 600px;
  transform: rotate(-20deg);
}
.yellow_label {
  /* position */
  position: absolute;
  top: 90px;
  left: 530px;
  transform: rotate(-20deg);
}
.blue_label {
  /* position */
  position: absolute;
  top: 270px;
  left: -120px;
  transform: rotate(20deg);
}
.switch__label {
  width: 50px;
  position: relative;
  display: inline-block;
  margin-right: 40px;
}
.switch__content {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  height: 31px;
  overflow: hidden;
}
.switch__content:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  top: 0;
  left: 0;
  border: 1.5px solid #e5e5ea;
  border-radius: 30px;
  background-color: #fff;
}
.switch__red:before {
  background-color: #00dbeb;
}
.switch__yellow:before {
  background-color: #0212fe;
}
.switch__blue:before {
  background-color: #cfba1a;
}
.switch__content:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.switch__input {
  display: none;
}
.switch__circle {
  display: block;
  top: 2px;
  left: 2px;
  position: absolute;
  -webkit-box-shadow: 0 2px 6px #999;
  box-shadow: 0 2px 6px #999;
  width: 27px;
  height: 27px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.switch__input:checked ~ .switch__circle {
  left: 21px;
}
.switch__input:checked ~ .switch__content:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.switch__input:checked ~ .switch__red:after {
  background-color: #eb1000;
}
.switch__input:checked ~ .switch__blue:after {
  background-color: #1a2fcf;
}
.switch__input:checked ~ .switch__yellow:after {
  background-color: #feee02;
}

/* Pulldown */
.pulldown {
  width: 200px;
  height: 110px;
  font-size: 20px;
  /* position */
  position: absolute;
  top: 300px;
  left: 150px;
  transform: rotate(5deg);
}

/* Textbox */
.form {
  /* position */
  position: absolute;
  top: 310px;
  left: 500px;
  transform: rotate(-10deg);
}
.textbox {
  width: 220px;
  height: 25px;
  font-size: 20px;
}

/* Button */
.button {
  display: block;
  width: 110px;
  height: 40px;
  font-size: 25px;
  /* position */
  position: absolute;
  top: 260px;
  left: 420px;
  transform: rotate(-15deg);
}
